.badge {
  display: block;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $color-purple-1;
  letter-spacing: 0.04rem;

  @media (min-width: $tablet-width) {
    line-height: 16px;
  }
}
