.copyright {
  text-align: center;
}

.copyright__link {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $color-grey-3;

  &:hover,
  &:focus {
    color: $color-purple-1;
  }

  &:active {
    color: $color-purple-4;
  }
}

.copyright__icon {
  vertical-align: middle;
  margin-left: 4px;
}
