$font-default: "Arial", sans-serif;
$font-custom: "Montserrat", "Arial", sans-serif;

$mobile-min-width: 320px;
$mobile-max-width: 400px;
$tablet-width: 768px;
$desktop-width: 1440px;

$color-black: #000000;

$color-black-3: #333333;

$color-purple-1: #7859cf;
$color-purple-2: #f0ebff;
$color-purple-3: #9070ec;
$color-purple-4: #593cac;
$color-purple-5: #eae6fc;

$color-white: #ffffff;
$color-white-1: #f3ebe1;

$color-grey-1: #f8f8f8;
$color-grey-2: #e2e2e2;
$color-grey-3: #bdbdbd;
$color-grey-4: #e5e6e8;
